* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715F;
}
.heading {
  display: flex;
  justify-content: space-between;
}
.contener {
  width: 1024px;
}
.logo {
  height: 70px;
}